*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(13, 78, 232);
}

header{
    text-align: center;
    padding: 15px;
}

section{
    width: 650px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.344);
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

img{
    margin: 15px;
    width: 200px;
}

footer{
    text-align: center;
}